@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

header,
nav,
main,
footer {
    display: flex;
    margin: 3px;
    padding: 0px;
    flex: 1 1 100vw;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    background: rgb(7, 7, 7);
    color: rgb(230, 239, 245);
    font-family: Georgia, 'Times New Roman', Times, serif
}

a {
    text-decoration: none;
}

header {
    background: black;
    padding: 15px;
    height: 80px;
}

section {
    background: rgb(15, 14, 15);
    color: rgb(230, 239, 245);
    margin: 20px;
    font-size: 25px;
    width: auto;
}

section p {
    padding: 25px;
}

li {
    padding-bottom: 30px;
}

h1 {
    position: relative;
    flex: column;
    text-align: center;
    font-size: 80px;
    color: rgb(122, 218, 235);
}

.right {
    float: right;
}

.left {
    float: left;
}

img {
    width: 35%;
    padding-left: 40px;
    padding-right: 40px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logo {
    position: absolute;
    font-size: 50px;
    text-decoration: none;
    top: 5px;
    color: white;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    padding: 15px;
}

.logo:hover {
    background: rgb(24, 24, 24);
}

.menu {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menu:hover {
    opacity: 0.7;
}

nav {
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 35px;
}

main {
    text-align: center;
}

footer {
    color: white;
    position: fixed;
    bottom: 0px;
    right: 40%;
}

.botao {
    display: inline-block;
    position: relative;
    font-size: 40px;
    background: rgb(2, 33, 48);
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
}

.botao:hover {
    color: rgb(2, 33, 48);
    background: white;
}

#texto-contato {
    padding: 50px;
    margin: auto 100px;
}

form {
    text-align: center;
    font-size: 30px;
}

input {
    font-size: 20px;
    background-color: rgb(41, 37, 41);
    border: solid 1px rgb(78, 78, 78);
    color: rgb(230, 239, 245);
}

textarea {
    margin: 20px auto;
    background-color: rgb(41, 37, 41);
    border: solid 1px rgb(78, 78, 78);
    color: rgb(230, 239, 245);
}

.links {
    display: flex;
    flex-direction: row;
    margin: -40px 100px;
}

.links a {
    margin: auto 50px;
    width: 300px;
    position: relative;
    left: 10%;
    padding: 20px;
}

.links img {
    width: 150px;
}

.links a:hover {
    background-color: rgb(39, 36, 39);
    border: hidden 2px white;
    border-radius: 20px;
}

#enviar {
    display: inline-block;
    position: relative;
    font-size: 30px;
    background: rgb(2, 33, 48);
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
}

#enviar:hover {
    color: rgb(2, 33, 48);
    background: white;
}